@import "normalize.css";
@import "preset.css";
@import "custom.css";
@import "card.css";
@import "form.css";
@import "button.css";

a {
  text-decoration: none;
}

header {
  padding: 2rem;
  border-bottom: 1px solid #dfdfdf;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#menu {
  display: block;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  #menu {
    display: none;
  }
}

.main--nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  height: 100%;
  transform: translateX(-15rem);
  width: 15rem;
  background-color: #1c1c1c;
  overflow-x: none;
  transition: 0.5s;
  padding-top: 5rem;
}
.main--nav a {
  display: block;
  color: #f5f5f5;
  padding: 1rem;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.main--nav a:hover {
  color: #00b0ff;
  border-color: #00b0ff;
}

@media only screen and (min-width: 768px) {
  header {
    display: flex;
    align-items: flex-end;
  }
  .navbar h1 {
    margin: 0;
    margin-right: 2rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  .main--nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 0;
    background-color: #fff;
    transform: translateX(0);
  }

  .main--nav a {
    display: inline;
    color: #111;
    padding: 0;
    margin-right: 1rem;
    border-top: 0;
    border-bottom: 0;
  }

  .main--nav .close {
    display: none;
  }
}

main {
  transition: transform 0.5s;
  min-height: 100%;
}

main > div {
  padding: 2rem;
  overflow: auto;
  padding-bottom: 5rem;
}

footer {
  border-top: 1px solid #5e5e5e;
  padding: 5rem;
  position: relative;
  height: 100px;
  margin-top: -2rem;
  clear: both;
}

#register .card {
  width: 40%;
  margin: 0 auto;
}